/**********容器**********/
.wrapper {
	height: 100%;
	width: 100%;
}

/************头部*************/
.wrapper header {
	width: 100%;
	height: 12vw;
	background-color: #0097FF;

	display: flex;
	align-items: center;

}

.wrapper header .icon-location-box {
	width: 3.5vw;
	height: 3.5vw;
	margin: 0 1vw 0 3vw;
}

.wrapper header .location-txt {
	font-size: 4.5vw;
	font-weight: 700;
	color: #fff;
}

.wrapper header .location-txt .fa-caret-down {
	margin-left: 1vw;
}

/*************搜索***************/
.wrapper .search {
	width: 100%;
	height: 13vw;
}

.wrapper .search .search-top {
	width: 100%;
	height: 13vw;
	background-color: #0097FF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper .search .search-top .search-box {
	width: 90%;
	height: 9vw;
	background-color: #fff;
	border-radius: 2px;

	display: flex;
	justify-content: center;
	align-items: center;

	font: 3.5vw;
	color: #AEAEAE;
	font-family: "宋体";

	/****文本不可选中******/
	user-select: none;
}

.wrapper .search .search-top .search-box .fa-search {
	margin-right: 1vw;
}

/***********点餐***********/
.wrapper .foodtype {
	width: 100%;
	height: 48vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	
}

.wrapper .foodtype li {
	/*元素宽度在16.7 ~ 20 之间*/
	width: 16.7vw;
	height: 20vw;
	display: flex;
	/*弹性盒子主轴方向设为column*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 0;
	user-select: none;
	cursor: pointer;
}

.wrapper .foodtype li img {
	width: 12vw;
	height: 12vw;
}

.wrapper .foodtype li p {
	font-size: 3.2vw;
	color: #666;
}

/********广告*********/
.wrapper .advert{
	width: 95%;
	margin: 0 auto;
	height: 29vw;
	background-image: url(../img/index_banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	box-sizing: border-box;
	padding: 2vw 6vw;
}
.wrapper .advert h3{
	font-size: 4.2vw;
	margin-bottom: 1.2vw;
}
.wrapper .advert p{
	font-size: 3.4vw;
	color: #666;
	margin-bottom: 2.4vw;
}
.wrapper .advert a{
	font-size: 3vw;
	color: #C79060;
	font-weight: 700;
}